<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<th:block th:include="/navigationBar"></th:block>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/homeUser}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>

<div class="container my-2">

    <!-- Add Connection -->
    <div class="row mx-auto align-items-center justify-content-center" id="addConnectionGroup">
        <div class="col col-8">Add Connection</div>

        <form method="post" th:action="@{/contact}" th:object="${relationshipDTO}"
              class="form-row jumbotron jumbotron-fluid col-8 pt-5 pb-4" id="addConnectionForm">
            <div class="form-group col-7 offset-1">
                <label for="email" class="sr-only">Email</label>
                <input id="email" type="email" class="form-control" placeholder="Email of your friend"
                       th:field="*{friendEmail}"/>
                <span class="text-danger ml-1" th:errors="*{friendEmail}"></span>
            </div>
            <div class="form-group col-4">
                <button type="submit" class="btn btn-primary bg-success border-success col-8">Add Connection</button>
            </div>
        </form>
    </div>

    <!-- Connection list -->
    <div class="row mx-auto align-items-center justify-content-center mt-3" id="myConnections">
        <div class="col col-8">My Connections</div>
        <div class="col col-8">
            <table class="table table-striped text-center">
                <thead>
                <tr class="text-white bg-success">
                    <td>Email</td>
                    <td>Firstname</td>
                    <td>Lastname</td>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${relationshipDTOList.isEmpty()}">
                    <td colspan="3"> No connections available</td>
                </tr>
                <tr th:each="relationship : ${relationshipDTOList}">
                    <td><span th:text="${relationship.friendEmail}"> Connection </span></td>
                    <td><span th:text="${relationship.friendFirstname}"> Description </span></td>
                    <td><span th:text="${relationship.friendLastname}"> Amount </span></td>
                </tr>
                </tbody>
            </table>

            <ul class="pagination justify-content-center flex-wrap">
                <!-- TODO V2 : la pagination sera gérée dans la prochaine version -->
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>