<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<th:block th:include="/navigationBar"></th:block>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/homeUser}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>

<div class="container my-2">

    <!-- Add Connection -->
    <div class="row mx-auto align-items-center justify-content-center" id="addConnectionGroup">
        <div class="col col-8">Add Connection</div>

        <div class="form-row jumbotron jumbotron-fluid col-8 pt-5 pb-4" id="addConnectionForm">
            <div class="form-group col-7 offset-1">
                <label for="email" class="sr-only">Email</label>
                <input id="email" type="email" class="form-control" placeholder="Email of your friend" required/>
                <!--TODO ajouter l'email de l'ami dans le relationshipDTO th:field="${relationshipDTO.friendEmail}" -->
            </div>
            <div class="form-group col-4">
                <a class="btn btn-primary bg-success border-success col-8" th:href="@{/addRelationship}">Add
                    Connection</a>
                <!--TODO à revoir couleur bouton vert plus clair
                <a class="btn btn-primary btn-block mt-3" th:href="@{/addFriend}">Add Connection</a> -->
            </div>
        </div>
    </div>

    <!-- Connection list -->
    <div class="row mx-auto align-items-center justify-content-center mt-3" id="myConnections">
        <div class="col col-8">My Connections</div>
        <div class="col col-8">
            <table class="table table-striped text-center">
                <thead>
                <tr class="text-white bg-success">
                    <td>Email</td>
                    <td>Firstname</td>
                    <td>Lastname</td>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${relationshipDTOList.empty}">
                    <td colspan="3"> No transactions available</td>
                </tr>
                <tr th:each="relationship : ${relationshipDTOList}">
                    <td><span th:text="${relationship.friendEmail}"> Connection </span></td>
                    <td><span th:text="${relationship.friendFirstname}"> Description </span></td>
                    <td><span th:text="${relationship.friendLastname}"> Amount </span></td>
                </tr>
                </tbody>
            </table>

            <ul class="pagination justify-content-center flex-wrap">
                <!-- TODO à compléter avec les liens <li th:each="page, status:${pages}">
                    <a th:text="${page}"</a> -->
                <li><a class="page-link"><<</a></li>
                <li><a class="page-link">1</a></li>
                <li><a class="page-link">2</a></li>
                <li><a class="page-link">3</a></li>
                <li><a class="page-link">>></a></li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>