<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-5 spacer mx-auto py-4 text-center border border-secondary border-2 rounded">
            <div class="mb-5">
                <a href="/"><img alt="PMB Logo" class="rounded" height="60" src="./img/PMB_logo.png" width="200"/></a>
            </div>

            <form class="form-signin" method="post" th:action="@{/login}">

                <div th:if="${param.error}">
                    <div class="alert alert-danger col-10 offset-1 mb-4 p-0">
                        <span th:text="#{login.error}"></span>
                        <br>
                        <span th:text="#{login.error2}"></span>
                    </div>
                </div>

                <div class="input-group col-10 offset-1 mb-4 p-0 border border-secondary border-3 rounded">
                    <div class="input-group-text bg-transparent border-0"><i class="bi-envelope"></i></div>
                    <label class="sr-only" for="email">Email</label>
                    <input class="form-control border-white" id="email" name="email" placeholder="Email" required
                           type="email"/>
                </div>
                <div class="input-group col-10 offset-1 mb-4 p-0 border border-secondary border-3 rounded">
                    <div class="input-group-text bg-transparent border-0"><i class="bi-asterisk"></i></div>
                    <label class="sr-only" for="password">Password</label>
                    <input class="form-control border-white" id="password" name="password" placeholder="Password"
                           required
                           type="password"/>
                </div>

                <div class="form-check mb-3">
                    <label class="form-check-label" for="remember-me"></label>
                    <input checked class="form-check-input" id="remember-me" name="remember-me"
                           type="checkbox" value="remember-me"/>
                    Remember me
                </div>

                <button class="btn btn-primary col-5 mt-5" type="submit">Log in</button>
                <a class="nav-link" th:href="@{/resetPassword}">Forgot your password ?</a>

            </form>
        </div>
    </div>
</div>
</body>
</html>