<nav class="navbar navbar-expand navbar-light justify-content-between">
    <div>
        <a class="navbar-brand" href="/">
            <img src="./img/PMB_logo.png" width="144" height="41" alt="PMB logo">
        </a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" th:href="@{/}">Home</a>
        <a class="nav-item nav-link" th:href="@{/transfer}">Transfer</a>
        <a class="nav-item nav-link" th:href="@{/profile}">Profile</a>
        <a class="nav-item nav-link" th:href="@{/contact}">Contact</a>
        <a class="nav-item nav-link" th:href="@{/logout}">Log off</a>
    </div>
    <div class="text-info">
        <span>connected with: </span>
        <span th:text="${user.email}"> Email </span>
        <span> / balance: </span>
        <span th:text="${user.balance} + '€'"> Balance </span>
    </div>
</nav>

