<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <img src="./img/PMB_logo.png" width="144" height="41" alt="PMB logo">
    </a>
    <div class="navbar-nav mr-auto"> <!--TODO voir pourquoi ne s'aligne pas à droite : https://mdbootstrap.com/docs/standard/navigation/navbar/-->
        <a class="nav-item nav-link" th:href="@{/homeUser}">Home</a>
        <a class="nav-item nav-link" th:href="@{/transaction}">Transfer</a>
        <a class="nav-item nav-link" th:href="@{/bankAccount}">Profile</a>
        <a class="nav-item nav-link" th:href="@{/relationship}">Contact</a>
        <a class="nav-item nav-link" th:href="@{/logoffUser}">Log off</a>
    </div>
    <!-- TODO voir ici pour le breacrumb home/transfer https://mdbootstrap.com/docs/standard/navigation/navbar/ -->
</nav>

