<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<th:block th:include="/navigationBar"></th:block>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/homeUser}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div class="container my-2">

    <!-- Send Money From/To Bank Account and Add Bank Account -->
    <div class="row mx-auto align-items-center justify-content-center" id="sendMoneyGroup">
        <div class="col col-9">Send From/To Bank Account</div>
        <div class="col col-2 mr-4">
            <a class="btn btn-primary px-4" th:href="@{/addBankAccount}">Add Bank Account</a>
        </div>

        <form method="post" th:action="@{/profile}" th:object="${bankTransferDTO}"
              class="form-row jumbotron jumbotron-fluid col-11 pt-5 pb-4" id="sendMoneyForm">

            <div class="form-group col-5 offset-1">
                <label for="selectBankAccount" class="sr-only">Select A Bank Account</label>
                <select id="selectBankAccount" class="form-control" th:field="*{bankAccountId}" required>
                    <option value="0">Select A Bank Account</option>
                    <option th:each="bankAccountDTO : ${bankAccountDTOList}"
                            th:value="${bankAccountDTO.bankAccountId}"
                            th:text="${bankAccountDTO.name}"></option>
                </select>
                <span class=" text-danger ml-1" th:errors="*{bankAccountId}"></span>
            </div>

            <div class="form-group col-3">
                <label for="amount" class="sr-only">Amount</label>
                <span class="input-symbol-euro">
                    <input id="amount" type="number" class="form-control"
                           value="0.00" step="0.01" min="0" th:field="*{amount}" required/>
                </span>
                <span class=" text-danger ml-1" th:errors="*{amount}"></span>
            </div>

            <div class="form-group col-5 offset-1">
                <label for="description" class="sr-only">Description</label>
                <input id="description" type="text" class="form-control" placeholder="Description"
                       th:field="*{description}" required/>
                <span class=" text-danger ml-1" th:errors="*{description}"></span>
            </div>

            <div class="form-group col-3">
                <label for="selectType" class="sr-only">Select A Type Of Transfer</label>
                <select id="selectType" class="form-control p-1" th:field="*{type}" required>
                    <option th:each="typeOfTransfer : ${typeOfTransferList}"
                            th:value="${typeOfTransfer}"
                            th:text="${typeOfTransfer.displayValue}"
                            th:default="${T(com.paymybuddy.webapp.constants.BankTransferTypes).DEBIT}">
                    </option>
                </select>
                <span class=" text-danger ml-1" th:errors="*{type}"></span>
            </div>

            <div class="form-group col-3">
                <button type="submit" class="btn btn-primary bg-success border-success col-8">Transfer Money</button>
            </div>
        </form>
    </div>
</div>

<!-- Bank Transfer list -->
<div class="row mx-auto align-items-center justify-content-center mt-3" id="myBankTransfers">
    <div class="col col-8">My Bank Transfers</div>
    <div class="col col-8">
        <table class="table table-striped text-center">
            <thead>
            <tr class="text-white bg-success">
                <td>Date</td>
                <td>Type</td>
                <td>Description</td>
                <td>Amount</td>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${bankTransferDTOList.isEmpty()}">
                <td colspan="4"> No bank transfers available</td>
            </tr>
            <tr th:each="bankTransfer : ${bankTransferDTOList}">
                <td><span th:text="${#temporals.format(bankTransfer.date,'dd-MM-yyyy')}"> Date </span></td>
                <td><span th:text="${bankTransfer.type.displayValue}"> Description </span></td>
                <td><span th:text="${bankTransfer.description}"> Description </span></td>
                <td th:switch="${bankTransfer.type}">
                    <span th:case="${T(com.paymybuddy.webapp.constants.BankTransferTypes).DEBIT}"
                          th:text="'-'+${bankTransfer.amount} + '€'"> Amount </span>
                    <span th:case="${T(com.paymybuddy.webapp.constants.BankTransferTypes).CREDIT}"
                          th:text="'+'+${bankTransfer.amount} + '€'"> Amount </span>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination justify-content-center flex-wrap">
            <!-- TODO à compléter avec les liens <li th:each="page, status:${pages}"><a th:text="${page}"</a> -->
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>