<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<th:block th:include="/navigationBar"></th:block>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/homeUser}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div class="container my-2">

    <!-- Send Money From/To Bank Account and Add Bank Account -->
    <div class="row mx-auto align-items-center justify-content-center" id="sendMoneyGroup">
        <div class="col col-6">Send From/To Bank Account</div>
        <div class="col col-2">
            <!-- TODO à revoir fmt bouton <a class="btn btn-primary btn-block mt-3" th:href="@{/addRelationship}">Add Connection</a>-->
            <a class="btn btn-primary px-4" th:href="@{/addBankAccount}">Add Bank Account</a>
        </div>

        <div class="form-row jumbotron jumbotron-fluid col-8 pt-5 pb-4" id="sendMoneyForm">
            <div class="form-group col-6 offset-1">
                <label for="selectBankAccount" class="sr-only">Select A Bank Account</label>
                <select id="selectBankAccount" class="form-control" required><!--th:field="${bankTransferDTO.bankAccountId}"-->
                    <option value="0">Select A Bank Account</option>
                    <!--<option selected></option>-->
                    <!--<option th:each="relationshipDTO : ${relationshipDTOList}"
                            th:value="${relationshipDTO.friendId}"
                            th:text="${relationshipDTO.friendName}"></option> -->
                    <!--<option th:each="relationshipDTO : ${relationshipDTOList}"
                            th:value="${relationshipDTO.friendId}"></option> -->
                    <!--TODO options à remplir avec list des bank accounts, nécessite de rapatrier les infos dans dans le getBankAccountList -->
                </select>
            </div>
            <div class="form-group col-3">
                <!--TODO voir pour ajouter le symbole € dans le champ : https://stackoverflow.com/questions/2913236/html-text-input-field-with-currency-symbol-->
                <label for="amount" class="sr-only">Amount</label>
                <input id="amount" type="number" class="form-control"
                       value="0.00" step="0.01" min="0" required/>
                <!--th:field="${transactionDTO.amountFeeExcluded}"-->
            </div>
            <div class="form-group col-6 offset-1">
                <label for="selectType" class="sr-only">Select A Type Of Transfer</label>
                <select id="selectType" class="form-control" required><!--th:field="${bankTransferDTO.type}"-->
                    <option value="0">Select A Type</option>
                    <option>From PMB To Bank Account</option>
                    <option>From Bank Account To PMB</option>
                    <!--TODO alimenter le type en fonction de la valeur sélectionnée -->
                </select>
            </div>
            <div class="form-group col-4">
                <a class="btn btn-primary bg-success border-success col-8" th:href="@{/addBankTransfer}">Transfer
                    Money</a>
                <!--TODO à revoir couleur bouton vert plus clair-->
            </div>
        </div>
    </div>

    <!-- Bank Transfer list -->
    <div class="row mx-auto align-items-center justify-content-center mt-3" id="myBankTransfers">
        <div class="col col-8">My Bank Transfers</div>
        <div class="col col-8">
            <table class="table table-striped text-center">
                <thead>
                <tr class="text-white bg-success">
                    <td>Date</td>
                    <td>Description</td>
                    <td>Amount</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">01/03/21</td>
                    <td>Transfer to Bank Account following friend transfer</td>
                    <td>8€</td>
                </tr>
                <tr>
                    <td scope="row">01/02/21</td>
                    <td>First transfer to Bank Account</td>
                    <td>25€</td>
                </tr>
                <tr> <!--TODO liste à alimenter -->
                    <td scope="row">01/01/21</td>
                    <td>First transfer to PMB</td>
                    <td>10€</td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center flex-wrap">
                <!-- TODO à compléter avec les liens <li th:each="page, status:${pages}">
                    <a th:text="${page}"</a> -->
                <li><a class="page-link"><<</a></li>
                <li><a class="page-link">1</a></li>
                <li><a class="page-link">2</a></li>
                <li><a class="page-link">3</a></li>
                <li><a class="page-link">>></a></li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>