<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Under Construction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<th:block th:include="/navigationBar"></th:block>

<div class="text-center spacer"><img class="rounded" src="./img/PMB_logo.png" width="200" height="60" alt="PMB Logo"/></div>
<h1 class="text-center font-weight-bold spacer">Under Construction</h1>

</body>
</html>